/* mat-list {
    height: 500px;
    max-height: 60%;
    overflow-y: scroll;
}

mat-icon {
    color: purple;
    cursor: pointer;
} */

p {
    background: grey;
}

.send-icon {
    cursor: pointer;
}