<div class="chat-list">
    <div #chatfield></div>
    <!-- <div *ngFor="let message of conversation">
        <span @fade typingAnimation [typeSpeed]="20" [startDelay]="800" [hideCursorOnComplete]="true" class="chat-msg">{{message.content}}</span>
    </div> -->
</div>
<form (ngSubmit)="formSubmit(chatInput)">
    <mat-form-field>
        <input matInput maxlength="256" placeholder="Message" #chatInput>
        <mat-icon matSuffix (click)="formSubmit(chatInput)" class="send-icon">send</mat-icon>
    </mat-form-field>
</form>